<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/fruit_n_veg_shopping_cart</property>
    <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <mapping class="com.fruitnvegie.fruitnvegieapi.models.DeliveryMethods"/>
      <mapping class="com.fruitnvegie.fruitnvegieapi.models.PaymentMethods"/>
      <mapping class="com.fruitnvegie.fruitnvegieapi.models.ShippingDetails"/>
      <mapping class="com.fruitnvegie.fruitnvegieapi.models.User"/>
      <mapping class="com.fruitnvegie.fruitnvegieapi.models.Role"/>
      <mapping class="com.fruitnvegie.fruitnvegieapi.models.UserRole"/>
    <mapping class="com.fruitnvegie.fruitnvegieapi.models.Login"/>
      <mapping class="com.fruitnvegie.fruitnvegieapi.models.AvailableCountries"/>
    <mapping class="com.fruitnvegie.fruitnvegieapi.models.ShippingDetailsEntity"/>
    <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>